#### feature mapping (categorical to numerical)

In [1]:
import pandas as pd
import numpy as np

In [2]:
flc = '/Users/pinqingkan/Desktop/Codes/Course_edX_PythonDataScience/02_Features_DataWrangling/Datasets/'
fname = flc + 'census.data'
Xfeatures = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
X = pd.read_csv(fname, header = None, names = Xfeatures, na_values = '?')
X

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K
5,Masters,37,0.0,White,0,40,Female,<=50K
6,9th,49,0.0,Black,0,16,Female,<=50K
7,HS-grad,52,0.0,White,0,45,Male,>50K
8,Masters,31,14084.0,White,0,50,Female,>50K
9,Bachelors,42,5178.0,White,0,40,Male,>50K
10,Some-college,37,0.0,Black,0,80,Male,>50K
11,Bachelors,30,0.0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0.0,White,0,30,Female,<=50K
13,7th-8th,34,0.0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0.0,White,0,35,Male,<=50K
15,HS-grad,32,0.0,White,0,40,Male,<=50K
16,11th,38,0.0,White,0,50,Male,<=50K
17,Masters,43,0.0,White,0,45,Female,>50K
18,Doctorate,40,0.0,White,0,60,Male,>50K
19,HS-grad,54,0.0,Black,0,20,Female,<=50K
20,9th,35,0.0,Black,0,40,Male,<=50K
21,11th,43,0.0,White,2042,40,Male,<=50K
22,HS-grad,59,0.0,White,0,40,Female,<=50K
23,Bachelors,56,0.0,White,0,40,Male,>50K
24,HS-grad,19,0.0,White,0,40,Male,<=50K
25,Some-college,54,0.0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0.0,White,0,80,Male,<=50K
27,HS-grad,49,0.0,White,0,40,Male,<=50K
28,Some-college,20,0.0,Black,0,44,Male,<=50K
29,Bachelors,45,0.0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0.0,White,0,55,Male,<=50K
29507,10th,32,0.0,White,0,40,Male,<=50K
29508,Some-college,22,0.0,White,0,40,Male,<=50K
29509,HS-grad,31,0.0,White,0,40,Female,<=50K
29510,HS-grad,29,0.0,White,0,35,Female,<=50K
29511,Bachelors,35,0.0,White,0,55,Female,>50K
29512,Bachelors,30,0.0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0.0,White,0,60,Male,>50K
29514,Bachelors,54,0.0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0.0,White,0,39,Female,<=50K
29516,12th,22,0.0,Black,0,35,Male,<=50K
29517,Bachelors,34,0.0,White,0,55,Female,>50K
29518,HS-grad,30,0.0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020.0,Black,0,45,Female,>50K
29520,Doctorate,71,0.0,White,0,10,Male,>50K
29521,HS-grad,45,0.0,White,0,40,Female,<=50K
29522,HS-grad,41,0.0,Black,0,32,Female,<=50K
29523,HS-grad,72,0.0,White,0,25,Male,<=50K
29524,Masters,31,0.0,Other,0,30,Female,<=50K
29525,HS-grad,43,0.0,White,0,40,Male,<=50K
29526,Some-college,43,0.0,White,0,40,Female,<=50K
29527,Some-college,43,0.0,White,0,50,Male,<=50K
29528,10th,32,0.0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0.0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0.0,White,0,40,Male,>50K
29531,Some-college,22,0.0,White,0,40,Male,<=50K
29532,HS-grad,40,0.0,White,0,40,Male,>50K
29533,HS-grad,58,0.0,White,0,40,Female,<=50K
29534,HS-grad,22,0.0,White,0,20,Male,<=50K
29535,HS-grad,52,15024.0,White,0,40,Female,>50K

In [3]:
X.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

In [4]:
# X.classification.unique()
# X.education.unique()
# X['sex'].unique()
X.race.unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [5]:
# feature type: ordinal; ~; ~; nominal; ~; ~; norminal; ordinal
# feature mapping
Y = X.classification
Y2 = Y.astype("category", ordered = True, categories = ['<=50K', '>50K']).cat.codes
Y2.head()

0    0
1    0
2    0
3    0
4    0
dtype: int8

In [6]:
Efeatures = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th', 'Some-college', '']
E2 = Y.astype("category", ordered = True, categories = Efeatures).cat.codes
E2.head()

0   -1
1   -1
2   -1
3   -1
4   -1
dtype: int8

In [7]:
E2 = pd.get_dummies(X, columns = ['education', 'race', 'sex'])
E2.head()

,age,capital-gain,capital-loss,hours-per-week,classification,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,...,education_Masters,education_Preschool,education_Some-college,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,39,2174.0,0,40,<=50K,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,50,NaN,0,13,<=50K,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,38,NaN,0,40,<=50K,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,53,NaN,0,40,<=50K,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,28,0.0,0,40,<=50K,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [8]:
E = X.education
E2 = pd.get_dummies(E)
E2.head()

,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Bachelors,Doctorate,HS-grad,Masters,Preschool,Some-college
0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0